# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .idea
.idea/

# Don't add avro-tools jar file
avro-tools*.jar

# Don't add avro files
**/*.avro
